body {
  /* background-color: #F8F8FA; */
  background-color: rgb(39, 41, 45);
  width: 100vw;
  margin: 0;
  overflow: hidden;
}

.title {
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
}

.toolbar {
  width: 60%;
  height: 1.5em;

  margin: 0 auto;
  margin-bottom: 0.2em;

  padding: 0.2em 1.5em;

  background: rgb(255, 255, 255);
  border: 1px solid #EDEDED;
  border-radius: 4px;
  box-shadow: 0 8px 14px 0 rgba(60,60,60,0.09);

  display: flex;
  justify-content: space-between;
}

.toolbarButton {
  height: 1.5em;
  width: 2em;
  padding: 1px 0.2em;
}

.true {
  font-weight: bold;
}

.editor {
  width: 60%;
  height: 80vh;

  margin: 0 auto;

  background: rgb(255, 255, 255);
  border: 1px solid #EDEDED;
  border-radius: 4px;
  box-shadow: 0 8px 14px 0 rgba(60,60,60,0.09);

  overflow-y: auto;

  padding: 0.5em 1.5em;

  color: rgb(26, 26, 26);
}

.editor p {
  margin-top: 0;
  margin-bottom: 0.2em;
}